CompileFlags:
    Add:
    - "-Isrc/Linux/blockheads"
    - "-Isrc/Linux/GLKit"
    - "-Isrc/Mac/BlockheadsServer/BlockheadsServer"
    - "-Isrc/Mac/BlockheadsServer/blockheads_server"
    - "-Isrc/SharedSource"
    - "-fobjc-nonfragile-abi"
